@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
  --gradient-one: #000046;
  --gradient-two: #1cb5e0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container__images {
  display: flex;
  width: 80vw;
}

.container__progress {
  text-align: center;
}


.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 500ms ease-out;
 
}

.on-panel:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(26, 24, 24, 0.4);
}


.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  text-shadow: 1px 1px 2px black;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}


@media (max-width: 480px) {
  .container__images {
    width: 90vw;
  }

}

.circles-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  max-width: 100%;
  width: 350px;
}

.circles-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.line__progress {
  background: linear-gradient(to left, var(--gradient-one), var(--gradient-two)); 
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
    background: 
    linear-gradient(var(--gradient-one), var(--gradient-two)) padding-box,
    linear-gradient(to right, var(--gradient-one), var(--gradient-two)) border-box;
    border: 4px solid transparent;
    color: #fff;
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}